.project-card {
    padding: 10px 24px;
    background: #fff;
    border: 1px solid #eee;
    margin: 5px 0;
    list-style-type: none;
    h3 {
        text-transform: capitalize;
    }
    a {
        color: $dark-gray;
    }
    &.footer-default {
        background-color: #f2f2f2;
    }
    ul {
        margin-bottom: 0;
        padding: 0;
        list-style: none;
        li {
            display: inline-block;
            a {
                color: inherit;
                padding: $padding-base-vertical;
                font-size: $font-size-small;
                text-transform: uppercase;
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .copyright {
        font-size: $font-size-small;
        line-height: 1.8;
    }
    &:after {
        display: table;
        clear: both;
        content: " ";
    }
}